.container {
    display: flex;
    margin-top: 50px;
}

#todoForm{
    flex: 1;
    height: 50px;
    margin-left: 40px;
}
#desContainer {
    display: flex;
}
input #description{
    min-width: 50%;
}
#categoryContainer {
    display: flex;
    margin-top: 20px;
}
#categoryText{
    margin-right: 13px;
}
#category{
    min-width: 15%;
}

#contentContainer {
    display: flex;
    margin-top: 20px;
}
#contentText{
    margin-right: 23px;
}
#content{
    min-width: 60%;
}
.btn{
    background: #0099ff;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.btn:hover{
    color: gray;
}

#formButtonArea{
    margin-top: 30px;
    margin-left: -20px;
}
#tableContainer{
    flex: 3;
}
table{
    margin-top: 20px;
    width:60%;
    border: 3px solid;
    
}

th,td,tr{
    width: 150px;
    text-align: center;
    align-items: center;
    height: 40px;
    
}

.selectedCheckBox{
    margin-top: 10px;
}
#headerRow{
    background: #a5a55c;
}